<h6>  <p class=" text-center">ADD NEW EXPENSE</p></h6>
            <form role="form" [formGroup]="expenseForm" (ngSubmit)="addExpense()">
                <div class="form-group">
                  <label for="inputNameExpense">Name of the expense</label>
                  <input type="text" class="form-control" [ngClass]="{'is-invalid':invalidName,'is-valid':validName}" id="inputNameExpense" aria-describedby="nameHelp" placeholder="Enter a name" name="inputNameExpense"  formControlName="name"
                  (focusout)="validateName()" (keyup)="validateName()">
                  <div class="invalid-feedback">
                    {{invalidFeebBackName}}
                  </div>
                  <small id="nameHelp" class="form-text text-muted">Short name</small>
                </div>

                <div class="form-group">
                    <label for="inputDescriptionExpense">Description of the expense</label>
                    <textarea type="text" class="form-control" [ngClass]="{'is-invalid':invalidDescription,'is-valid':validDescription}"  name="inputDescriptionExpense" id="inputDescriptionExpense"  rows="5" placeholder="Optional description"  aria-describedby="desHelp"  formControlName="description"
                    (focusout)="validateDescription()" (keyup)="validateDescription()"></textarea> 
                    <div class="invalid-feedback">
                      {{invalidFeebBackDescription}}
                    </div>
                    <small id="desHelp" class="form-text text-muted">Full Description</small>
                </div>

                <div class="form-group">
                  <label for="inputAmountExpense">Amount</label>
                  <input type="number" class="form-control" [ngClass]="{'is-invalid':invalidAmount,'is-valid':validAmount}" id="inputAmountExpense" placeholder="" aria-describedby="amntHelp"  name="inputAmountExpense"  formControlName="amount"
                  (focusout)="validateAmount()" (keyup)="validateAmount()">
                  <div class="invalid-feedback">
                    {{invalidFeebBackAmount}}
                  </div>
                  <small id="amntHelp" class="form-text text-muted">Amount of items acquired</small>
                  
                </div>

                <div class="form-group">
                    <label for="inputPricePerUnit">Price per unit</label>
                    <input type="number" class="form-control" [ngClass]="{'is-invalid':invalidPrice,'is-valid':validPrice}" id="inputPricePerUnit" placeholder="" aria-describedby="amntHelp"  name="inputPricePerUnit"  formControlName="pricePerUnit"
                    (focusout)="validatePrice()" (keyup)="validatePrice()">
                    <div class="invalid-feedback">
                      {{invalidFeebBackPrice}}
                    </div>
                    <small id="amntHelp" class="form-text text-muted">The price of each item, separetely</small>
                    
                  </div>
                <button type="submit" class="btn btn-custom-view">Submit</button>
            </form>