<h6>  <p class=" text-center">ADD NEW EXPENSE</p></h6>
            <form [formGroup]="expenseForm" (ngSubmit)="addExpense()">
                <div class="form-group">
                  <label for="inputNameExpense">Name of the expense</label>
                  <input [ngClass]="{'is-valid':expenseForm.controls['name'].valid && expenseForm.controls['name'].touched, 'is-invalid':expenseForm.controls['name'].invalid && expenseForm.controls['name'].touched} " 
                  type="text" class="form-control" id="inputNameExpense" aria-describedby="nameHelp" placeholder="Enter a name" name="inputNameExpense" formControlName="name">
                  <small id="nameHelp" class="form-text text-muted">Short name</small>
                </div>

                <div class="form-group">
                    <label for="inputDescriptionExpense">Description of the expense</label>
                    <textarea [ngClass]="{'is-valid':expenseForm.controls['description'].valid && expenseForm.controls['description'].touched, 'is-invalid':expenseForm.controls['description'].invalid && expenseForm.controls['description'].touched} " 
                    type="text" class="form-control" name="inputDescriptionExpense" id="inputDescriptionExpense"  rows="5" placeholder="Optional description"  aria-describedby="desHelp"  formControlName="description"></textarea> 
                    <small id="desHelp" class="form-text text-muted">Full Description</small>
                </div>

                <div class="form-group">
                  <label for="inputAmountExpense">Amount</label>
                  <input  [ngClass]="{'is-valid':expenseForm.controls['amount'].valid && expenseForm.controls['amount'].touched, 'is-invalid':expenseForm.controls['amount'].invalid && expenseForm.controls['amount'].touched} " 
                  type="number" class="form-control" id="inputAmountExpense" placeholder="" aria-describedby="amntHelp"  name="inputAmountExpense"  formControlName="amount">
                  <small id="amntHelp" class="form-text text-muted">Amount of items acquired</small>
                </div>

                <div class="form-group">
                    <label for="price">Price per unit</label>
                    <input  [ngClass]="{'is-valid':expenseForm.controls['price'].valid && expenseForm.controls['price'].touched, 'is-invalid':expenseForm.controls['price'].invalid && expenseForm.controls['price'].touched} " 
                     type="number" class="form-control" id="price" placeholder="" aria-describedby="amntHelp"  name="price"  formControlName="price">
                    <small id="amntHelp" class="form-text text-muted">The price of each item, separetely</small>
                  </div>
                  
                  
                  <button type="submit" class="btn btn-custom-view me-3 mt-3" [disabled]="!expenseForm.valid">Submit</button> 
                  <button type="button" class="btn btn-custom-delete  mt-3" (click)="clearForm()">Clear</button>
                
            </form>