<div class="list-group-item list-group-item-action flex-column align-items-start">
  <div class="row">
    <div class="col-lg-6">
      <h5 class="text-truncate">{{expense.name}}</h5>
      <small class="text-truncate" style="display: block">{{expense.description}} </small>
    </div>
    <div class="col-lg-6">
      <p class="mb-1">{{expense.amount}} unit/s {{expense.pricePerUnit}}€/unit </p>
      <p class="mb-1">{{dateString}} </p>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6">
      <button class="btn btn-custom-view btn-sm me-3 mt-3">Details</button>
      <button class="btn btn-custom-edit btn-sm me-3 mt-3">Edit</button>
      <button class="btn btn-custom-delete btn-sm me-3 mt-3" (click)="deleteExpense()">Delete</button>
    </div>
    <div class="col-lg-6">
      <span class="badge  badge-pill me-1" style="background-color: #000000; color: aqua;">Games</span> 
      <span class="badge  badge-pill me-1" style="background-color: blue;">Hentai</span> 
      <span class="badge  badge-pill me-1" style="background-color: green;">Wholesome Hentai</span> 
      <span class="badge  text-dark badge-pill me-1" style="background-color: aqua;">Food</span> 
      <span class="badge  text-dark badge-pill me-1" style="background-color: brown;">poggers</span> 

    </div>
  </div>
  </div>

