<div class="route-container">
    <h1>Graphs</h1>
    <form [formGroup]="analyticsForm" fxLayout="column" fxLayoutAlign="start">
        <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="20px">
            <mat-form-field>
                <mat-label>From date</mat-label>
                <input matInput type="date" formControlName="dateFrom" />
            </mat-form-field>
            <mat-form-field>
                <mat-label>To date</mat-label>
                <input matInput type="date" formControlName="dateTo" />
            </mat-form-field>
        </div>

        <div fxLayout="row" fxLayoutGap="25px">
            <button mat-raised-button (click)="resetInterval()" color="warn">Reset</button>
        </div>
    </form>
    <br />
    <mat-divider></mat-divider>
    <br />

    <div
        fxLayout="column"
        fxLayoutAlign="start start"
        fxLayoutGap="25px"
        fxFill
        *ngIf="$any(selectedYears | async).length > 0"
    >
        <div *ngFor="let year of $any(selectedYears | async)" fxFill>
            <h1>{{ year }}</h1>

            <div fxLayout="row" fxLayoutAlign="space-between  center" fxLayoutGap="25px">
                <app-donut-graph
                    fxFlex="35"
                    *ngIf="$any(selectedYearTags | async)[year]"
                    [labels]="$any(selectedYearTags | async)[year].labels"
                    [data]="$any(selectedYearTags | async)[year].count"
                    [bgColor]="$any(selectedYearTags | async)[year].bgColor"
                ></app-donut-graph>

                <app-bar-chart
                    fxFlex="75"
                    [data]="$any(selectedYearlyMonthlyExpenses | async)[year]"
                    [labels]="YEARLY_LABELS"
                ></app-bar-chart>
            </div>
            <br />
            <div *ngFor="let month of $any(selectedYearsWithMonths | async)[year]">
                <mat-card>
                    <mat-card-title>{{ month }}/{{ year }}</mat-card-title>
                    <mat-card-content>
                        <div fxLayout="row" fxLayoutAlign="start stretch" fxLayoutGap="25px">
                            <app-donut-graph
                                fxFlex="35"
                                *ngIf="
                                    $any(selectedYearMonthTags | async)[year] &&
                                    $any(selectedYearMonthTags | async)[year][month]
                                "
                                [labels]="$any(selectedYearMonthTags | async)[year][month].labels"
                                [data]="$any(selectedYearMonthTags | async)[year][month].count"
                                [bgColor]="$any(selectedYearMonthTags | async)[year][month].bgColor"
                            ></app-donut-graph>

                            <app-bar-chart
                                fxFlex="75"
                                [data]="$any(selectedYearlyMonthlyDailyExpenses | async)[year][month].count"
                                [labels]="$any(selectedYearlyMonthlyDailyExpenses | async)[year][month].labels"
                            ></app-bar-chart>
                        </div>
                    </mat-card-content>
                </mat-card>
                <br />
            </div>

            <mat-divider></mat-divider>
            <br />
        </div>
    </div>

    <div *ngIf="$any(selectedYears | async).length <= 0">
        <h2>No data to show yet...</h2>
        <mat-hint>Create some expenses and tags first</mat-hint>
    </div>
</div>
