<h2>Search expenses</h2>

<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="25px">
        <mat-form-field fxFlex>
            <mat-label>Name search</mat-label>
            <input matInput type="text" [(ngModel)]="nameSearch" />
        </mat-form-field>

        <mat-form-field fxFlex>
            <mat-label>Description search</mat-label>
            <input matInput type="text" [(ngModel)]="desSearch" />
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="25px">
        <mat-form-field fxFlex>
            <mat-label>Amount search</mat-label>
            <input matInput type="number" [(ngModel)]="amountSearch" />
        </mat-form-field>

        <mat-form-field fxFlex>
            <mat-label>Price search</mat-label>
            <input matInput type="number" [(ngModel)]="priceSearch" />
        </mat-form-field>
    </div>

    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="25px">
        <mat-form-field fxFlex>
            <mat-label>Since Date</mat-label>
            <input matInput type="datetime-local" [(ngModel)]="dateSinceSearch" />
        </mat-form-field>

        <mat-form-field fxFlex>
            <mat-label>Until Date</mat-label>
            <input matInput type="datetime-local" [(ngModel)]="dateUntilSearch" />
        </mat-form-field>
    </div>

    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="25px">
        <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="25px">
            <mat-form-field fxFlex>
                <mat-label>Search by tag</mat-label>
                <mat-select
                    (selectionChange)="selectedTagsChanged($event)"
                    [disabled]="toBeFilteredtags!.length === 0 || onlyUntagged"
                    [(ngModel)]="selectedTag"
                >
                    <mat-select-trigger> </mat-select-trigger>
                    <mat-option *ngFor="let tag of toBeFilteredtags" [value]="tag">
                        <mat-chip
                            [style]="'background-color:' + tag.bgColor + ';' + 'color:' + tag.txtColor + ';'"
                            disabled="true"
                        >
                            {{ tag.name }}
                        </mat-chip>
                    </mat-option>
                </mat-select>
            </mat-form-field>
            <mat-slide-toggle [disabled]="hideUntagged" [(ngModel)]="onlyUntagged" color="primary"
                ><h3>Only untagged</h3></mat-slide-toggle
            >
            <mat-slide-toggle [disabled]="onlyUntagged" [(ngModel)]="hideUntagged" color="primary"
                ><h3>Hide untagged</h3></mat-slide-toggle
            >
        </div>
        <div *ngIf="filterTags.length !== 0 && !onlyUntagged">
            <mat-chip-list>
                <mat-chip
                    *ngFor="let tag of filterTags"
                    [style]="'background-color:' + tag.bgColor + ';' + 'color:' + tag.txtColor + ';'"
                    (removed)="removeTag(tag)"
                    [removable]="true"
                >
                    {{ tag.name }}
                    <mat-icon matChipRemove>cancel</mat-icon>
                </mat-chip>
            </mat-chip-list>
            <br />
            <br />
        </div>
    </div>

    <div fxLayout="row">
        <button mat-raised-button type="button" class="btn btn-custom-edit mt-3" (click)="clearSearch()" color="warn">
            Clear
        </button>
    </div>
    <br />
    <mat-hint>*Click on any expense to edit</mat-hint>
    <br />
    <mat-divider></mat-divider>
    <br />
    <div
        fxLayout="column"
        fxLayoutAlign="space-between stretch"
        fxLayoutGap="25px"
        *ngIf="((expenses | async) ?? false) && (expenses | async)!.length > 0"
    >
        <app-expense
            *ngFor="
                let expense of expenses
                    | async
                    | filterExpenses
                        : nameSearch
                        : desSearch
                        : amountSearch
                        : priceSearch
                        : dateSinceSearch
                        : dateUntilSearch
                        : filterTags
                        : onlyUntagged
                        : hideUntagged
            "
            [expense]="expense"
        ></app-expense>
    </div>
    <div *ngIf="(!(expenses | async) ?? false) || (((expenses | async) ?? false) && (expenses | async)!.length <= 0)">
        <h2>No data to show yet...</h2>
    </div>
</div>
