<mat-sidenav-container class="container">
    <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="!isMobile" #sidenav>
        <mat-nav-list fxLayout="column" fxLayoutAlign="start" fxFlex style="overflow: visible">
            <a mat-list-item routerLink="home" (click)="closeSidenavIfMobile()"> <h2>Finance Manager</h2></a>

            <a mat-list-item routerLink="home" (click)="closeSidenavIfMobile()">
                <mat-icon>home</mat-icon> <span>Home</span></a
            >
            <a mat-list-item routerLink="expenses" (click)="closeSidenavIfMobile()">
                <mat-icon>euro</mat-icon> <span>Expenses</span></a
            >
            <a mat-list-item routerLink="tags" (click)="closeSidenavIfMobile()">
                <mat-icon>label</mat-icon> <span>Tags</span></a
            >
            <!-- <a mat-list-item routerLink="tables" (click)="closeSidenavIfMobile()">
              <mat-icon>table_view</mat-icon> <span>Tables</span></a
          > -->
            <a mat-list-item routerLink="graphs" (click)="closeSidenavIfMobile()">
                <mat-icon>pie_chart</mat-icon> <span>Graph</span></a
            >
            <a mat-list-item routerLink="settings" (click)="closeSidenavIfMobile()">
                <mat-icon>settings</mat-icon> <span>Settings</span></a
            >

            <span fxFlex></span>
            <div fxLayoutAlign="center end">
                <mat-slide-toggle [checked]="darkTheme" color="primary" (change)="themeChanged($event)"
                    ><mat-icon>dark_mode</mat-icon></mat-slide-toggle
                >
            </div>
            <br />
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
        <mat-toolbar *ngIf="isMobile">
            <button mat-icon-button (click)="sidenav.toggle()">
                <mat-icon>menu</mat-icon>
            </button>
            <h2>Finance Manager</h2>
        </mat-toolbar>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
