<div class="container-fluid">
    <div class="row">
        <div class="col-lg-12 text-center"> <h6><p>SEARCH EXPENSES</p></h6></div>
    </div>
    <div class="row">
        <div class="col-lg-2">
             <p class=" text-start">Name:</p>
        </div>
        <div class="col-lg-4">
            <input type="text" class="form-control" id="inputNameSearch" placeholder=""  name="inputNameSearch" [(ngModel)]="nameSearch" >
        </div>
        <div class="col-lg-2">
            <p class=" text-start">Description:</p>
       </div>
       <div class="col-lg-4">
           <input type="text" class="form-control" id="inputDesSearch" placeholder=""  name="inputDesSearch"  [(ngModel)]="desSearch">
       </div>

    </div>

    <div class="row">
        <div class="col-lg-2">
            <p class=" text-start">Since Date:</p>
        </div>
        <div class="col-lg-4">
            <input type="datetime-local" class="form-control" id="inputDateSinceSearch" placeholder=""  name="inputDateSinceSearch" [(ngModel)]="dateSinceSearch" >
        </div>
        <div class="col-lg-2">
            <p class=" text-start">Until Date:</p>
        </div>
        <div class="col-lg-4">
            <input type="datetime-local" class="form-control" id="inputDateUntilSearch" placeholder=""  name="inputDateUntilSearch" [(ngModel)]="dateUntilSearch" >
        </div>
    </div>
    <div class="row">
        <div class="col-lg-2">
            <button type="button" class="btn btn-custom-edit mt-3" (click)="clearSearch()">Clear</button>
        </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-lg-12">
            <ul class="list-group"> 
                <app-tag  *ngFor="let tag of tags | filterTags:nameSearch:desSearch:dateSinceSearch:dateUntilSearch" [inputTag]="tag" ></app-tag>
            </ul>
        </div>
    </div>
    
</div>

