<h2>Search tags</h2>

<div fxLayout="column" fxLayoutAlign="space-evenly stretch">
    <div fxLayout="row" fxLayoutAlign="space-between stretch" fxLayoutGap="25px">
        <mat-form-field fxFlex>
            <mat-label>Name search</mat-label>
            <input matInput type="text" [(ngModel)]="nameSearch" />
        </mat-form-field>

        <mat-form-field fxFlex>
            <mat-label>Description search</mat-label>
            <input matInput type="text" [(ngModel)]="desSearch" />
        </mat-form-field>
    </div>

    <div fxLayout="row">
        <button mat-raised-button type="button" class="btn btn-custom-edit mt-3" (click)="clearSearch()" color="warn">
            Clear
        </button>
    </div>
    <br />
    <mat-hint>*Click on any tag to edit</mat-hint>
    <br />
    <mat-divider></mat-divider>
    <br />

    <div fxLayout="column" fxLayoutAlign="space-between stretch" fxLayoutGap="25px">
        <app-tag *ngFor="let tag of tags | async | filterTags: nameSearch:desSearch" [inputTag]="tag"></app-tag>
    </div>
</div>
