@use '@angular/material' as mat;
@import 'ag-grid-community/dist/styles/ag-grid.css';
@import 'ag-grid-community/dist/styles/ag-theme-alpine.css';
@import '@angular/material/theming';

@include mat.core();
$my-primary: mat.define-palette(mat.$blue-palette, 800);
$my-dark-accent: mat.define-palette(mat.$blue-gray-palette, 800);
$my-light-accent: mat.define-palette(mat.$blue-gray-palette, 100);
$my-warn: mat.define-palette(mat.$red-palette, 700);

$my-theme: mat.define-light-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-light-accent,
            warn: $my-warn,
        ),
    )
);

$my-dark-theme: mat.define-dark-theme(
    (
        color: (
            primary: $my-primary,
            accent: $my-dark-accent,
            warn: $my-warn,
        ),
    )
);

html,
body {
    height: 100%;
}
body {
    margin: 0;
    font-family: Roboto, 'Helvetica Neue', sans-serif;
    font-display: swap;
}

.route-container {
    margin: 15px;
}

@mixin theme-color-grabber($theme) {
    $primary: map-get($theme, primary);
    $accent: map-get($theme, accent);
    $warn: map-get($theme, warn);

    ::-webkit-scrollbar {
        width: 5px;
    }

    ::-webkit-scrollbar-track {
        border-radius: 5px;
    }

    ::-webkit-scrollbar-thumb {
        background: mat-color($primary);
        border-radius: 5px;
    }
    mat-card {
        background-color: mat-color($accent) !important;
    }
}
@include theme-color-grabber($my-theme);

.dark-theme {
    @include mat.all-component-themes($my-dark-theme);
    @include theme-color-grabber($my-dark-theme);
}

@include mat.all-component-themes($my-theme);
