<div class="route-container">
    <div fxLayout="column" fxLayoutAlign="center center" style="margin-top: 50px">
        <mat-icon [svgIcon]="'FM_Logo'" style="transform: scale(5); margin: 40px"></mat-icon>
        <h2>Finance Manager</h2>
    </div>
    <div fxLayout="row" fxLayout.lt-sm="column" fxLayoutAlign="center center" fxLayoutGap="25px">
        <a mat mat-raised-button href=" https://github.com/Alfonsohh99/FinanceManager" target="_blank"
            ><mat-icon>code</mat-icon>&nbsp;Source code on Github</a
        >
        <a
            mat
            mat-raised-button
            href="https://play.google.com/store/apps/details?id=com.alfonsohh.financemanager"
            target="_blank"
            ><mat-icon>smartphone</mat-icon>&nbsp;App on Google play</a
        >
        <a mat mat-raised-button href="https://www.finance-manager.net/" target="_blank"
            ><mat-icon>public</mat-icon>&nbsp;Web version</a
        >
    </div>
    <h2>Features:</h2>
    <div fxflex fxLayout="column" fxLayoutAlign="center stretch" fxLayoutGap="20px">
        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>euro</mat-icon>
                </div>
                <mat-card-title>Expenses</mat-card-title>
                <mat-card-subtitle>Create/Edit Expenses</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Log your daily expenses and save them.</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>label</mat-icon>
                </div>
                <mat-card-title>Tags</mat-card-title>
                <mat-card-subtitle>Create/Edit Tags</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Track your expenses with tags so you can know where you are expending the most.</p>
            </mat-card-content>
        </mat-card>

        <!-- <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>table_view</mat-icon>
                </div>
                <mat-card-title>Tables</mat-card-title>
                <mat-card-subtitle>View your data in tables</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Look at your expense data using a series of tables.</p>
            </mat-card-content>
        </mat-card> -->

        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>pie_chart</mat-icon>
                </div>
                <mat-card-title>Graphs</mat-card-title>
                <mat-card-subtitle>View your data using graphs</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Look at your expense data using a series of graphs.</p>
            </mat-card-content>
        </mat-card>

        <mat-card>
            <mat-card-header>
                <div mat-card-avatar>
                    <mat-icon>settings</mat-icon>
                </div>
                <mat-card-title>Settings</mat-card-title>
                <mat-card-subtitle>Manage your user data</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <p>Import/Export your data.</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>
