<div class="container-fluid">
    <div class="row text-center">
        <div class="col-lg-3 mx-auto font-weight-bold">
            <p>This is really a placeholder text but I will add some explanations about the app's functionality</p>
        </div>
        <div class="col-lg-9 mx-auto font-weight-light">
            <p>
                FinanceManager is a personal proyect aimed to improve my skills as a web developer as well as improve my
                financial management
            </p>
        </div>
    </div>
</div>
