<div class="container-fluid ms-2 mt-1">
    <div class="row">
      <div class="col-lg-2">
        <label > Yearly expenses</label>
      </div>
      <div class="col-lg-2">
        <select name="select year" id=""> Select Year</select>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <div>
          <canvas id="expenesByMonth" ></canvas>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <canvas id="expensesByTag" ></canvas>
        </div>
      </div>
      <div class="col-lg-4">
        <div>
          <canvas id="topExpenses" ></canvas>
        </div>
      </div>
    </div>
    <br>
    <div class="row">
      <div class="col-lg-2">
        Montly expenses
      </div>
      <div class="col-lg-2">
        <select name="select month" id=""> Select Month</select>
      </div>
      
    </div>
</div>